.git
node_modules
vendor
public/theme
storage
*.log
*.zip
*.tar
*.rar
*.exe
*.pyc
__pycache__/
*.swp
*.lnk
*.bak
*.tmp
.DS_Store
Thumbs.db
ehthumbs.db
*.sublime-*
*.code-workspace
*.vscode/
*.idea/
*.classpath
*.project
*.settings/
*.sh
*.bat
*.cmd
