APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:EMrtbn7AQNa7u315JHSl39J326ZGkStrx5G2XVwyui4=
APP_DEBUG=true
APP_URL=http://localhost/rating-service-app
IP_ADDRESS_APP=192.168.1.242
APP_TIMEZONE=Asia/Jakarta
APP_VERSION=1.2

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
BPATH=C:/backups/
LI=ABC123456XYZ111
EX=LIFETIME

DB_CONNECTION=mysql
DB_HOST=TTRGaVdncmhLbzZHbnFVd3paVThybzV0Q041TDExZlB1RWpxa3pwVnZyYz0=
DB_PORT=RGNpS2ZOK2ovRTlHYzdRSUs0eUJSZz09
DB_DATABASE=THFVMTV6M1pFT2ZBcmQwSGxoV24zWUhaT1J4cDlHNGcyY2cvb1ZTd3FSWT0=
DB_USERNAME=UkU1TmYvSk9pUDhpcGdNVlNIOVczZz09
DB_PASSWORD=M29qeXpydUFwSk55WGZCT1ZzbEkrdz09

CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
