/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/images/logo.png
public/images/background.png
public/images/gambar-login.png
public/images/logo-laporan.png
connect-alat/node_modules
settings.json
/settings.json
/chatlab/node_modules
/chatlab/chat/general.json
/chatlab/chat/room1.json
/chatlab/chat/room2.json
/backup.log