version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-lis
    working_dir: /var/www
    volumes:
      - .:/var/www
    expose:
      - "9001"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-lis
    ports:
      - "8888:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
